<div data-ng-init="init()">
	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="tvshow in results">
			<div class="media">
				<a class="pull-left" href="#"> <img class="media-object"
					data-ng-src="{{tvshow.episode.images.screen}}" width="250" height="150" >
				</a>
				<div class="media-body">
					<div class="row">
						<div class="col-sm-8">
							<h3 class="media-heading">{{tvshow.show.title}}: {{tvshow.episode.title}}</h3>
							<span class="label label-primary">{{tvshow.date}}</span>
						</div>
						<div class="col-sm-4">
							<div class="well">
								<ul class="list-unstyled">
									<li class=""><strong>On Air:</strong> {{tvshow.show.air_day}} {{tvshow.show.air_time}}</li>
									<li class=""><strong>Network:</strong> {{tvshow.show.network}}</li>
									<li class=""><strong>Season #:</strong> {{tvshow.episode.season}}</li>
									<li class=""><strong>Genres:</strong> <span class="" data-ng-repeat="genre in tvshow.show.genres">{{genre}}<span data-ng-if="!$last">, </span></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
